*,
*:before,
*:after {
  box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}
.header-title{
    padding: 1rem 2rem;
}
.header-menu{
    display: flex;
    padding: 0.5rem 2rem;
    gap:1rem
}

.home,
.about,
.projects,
.contact{
    padding: 0.8rem 2rem;
}
/*--------------header complete----------------*/

.home-main{
    border-top: black solid;
    padding: 10rem 1rem ;
    border-bottom: black solid;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.socials{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: .3rem;
    width: max-content;
    position: fixed;
    top: 50px;
    margin: 15rem 0rem;
}
.socials > div {
    padding: .5rem;
    width: max-content;
}
.socials > div >img{
    width: 2rem;
}
.home-main-content{
    padding: 1rem 2rem;
}
.home-main-content > h1 {
    padding: .3rem;
    margin: 0.5rem;
}
/*------------------------------------------*/


.projects-section{
    border: dotted black;
    margin-top: 2rem;
    padding: 2rem 2rem;
    text-align: center;
    min-width: fit-content;
}
.project-list{
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: fit-content;
}

.project-list-item{
        border: solid yellow 4px;
        max-width: calc(50% - 10px);
        min-width:fit-content ;
        padding:  1rem;
        margin: 2rem;
        border-radius: 2rem;
        display: flex;
        flex-wrap: wrap;
}
/*.project2,
.project1{
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    overflow: none;
    padding: 1rem 2rem;
}*/
.pli-img{
    border: solid red;
    width: 15rem;
    flex-shrink: 0;
    
}
.pli-img > img{
    max-width: 100%;
}
.p-info{
    border: solid black;
    width:15rem;
    padding: 1rem 2rem ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    flex-shrink: 0;
}
.p-info-btn{
    padding: .5rem;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: 2rem;
}


/*----------------------------------------------------*/


.skills-heading{
    border: dotted  black;
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}
.skills-section{
    border: solid blue 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-list{
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: fit;
    gap: 3rem;
}
.sl-item{
    border: solid green;
    min-width: fit-content;
    text-align: center;
}
.sl-item > img{
    width: 6rem;
}

